.loginContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #000;
    background: linear-gradient(45deg, #ff4081, #673ab7);
    color: #fff;
    animation: backgroundMove 4s ease infinite;
}

/* Page title */
.loginTitle {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    animation: fadeInUp 2s ease;
    margin-bottom: 30px;
}

/* Form styles */
.loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input fields */
.loginInput {
    width: 300px;
    padding: 12px 20px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.loginInput:focus {
    border-color: #ff4081;
    box-shadow: 0 0 10px rgba(255, 64, 129, 0.5);
    outline: none;
}


/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
